<section class="bg-light pt-5 pb-5 shadow-sm">
	<div class="container">
    	<div class="row">
        	<div class="col-12 d-flex align-items-center">
            	<h3 class="text-uppercase border-bottom mb-4" id="createNoteTitle">Create Note</h3>
            	<h3 class="text-uppercase border-bottom mb-4" id="updateNoteTitle">Update Note</h3>
            	<p id="updatedPersonid" style="display: none;"></p>
            </div>
        </div>
        <div class="row">
			
			<div class="container mt-5">
			    <div class="row justify-content-center">
			        <div class="col-md-6">
			            <div class="card note-create-card">
			                <div class="card-body d-flex align-items-center justify-content-center flex-column" >
			                    <!--<form id="createNote" action="">-->
			                        <div class="form-group note-form">
			                            <label for="note-title">Note Title</label>
			                            <input type="text" class="form-control" id="note-title" placeholder="Enter Note Title" required />
			                        </div>
			                        <div class="form-group note-form">
			                            <label for="note-description">Note Description</label>
			                            <textarea class="form-control" id="note-description" rows="8"></textarea>
			                        </div>
			                        <button id="add-note" class="btn btn-danger"> Add </button>
			                        <button id="update-note" class="btn btn-danger" style="display: none;"> update </button>
			                    <!--</form>-->
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
			
            
         </div>
    </div>
 </section>